*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-y: auto;
	background-color: #f3ece4;
	color: #69422b;
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

header {
	padding: 2rem;
	text-align: center;
}

.hook_examples {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4rem;
	gap: 2rem;

	.wrapper {
		padding: 2rem;
		width: 40rem;
		max-width: 100%;
		border: 2px solid #927768;
		border-radius: 2rem;
		transition: all 0.3s;
		box-shadow: -6px 6px 0px 0px #927768;

		button {
			padding: 1rem 1.6rem;
			background-color: #69422b;
			color: #fff;
			border: none;
			font-size: 1rem;
			font-family: inherit;
			border-radius: 5rem;
			cursor: pointer;
			transition: all 0.3s;
		}

		input {
			padding: 1rem;
			background-color: #f3ece4;
			border: 1px solid #927768;
			border-radius: 5rem;
			font-family: inherit;
			outline: none;
			font-size: 1rem;
			color: #69422b;
			font-weight: 600;
			transition: all 0.3s;
		}

		.wrapper_content {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.action {
			display: inline-flex;
			gap: 0.8rem;
		}

		.action-col {
			display: inline-flex;
			flex-direction: column;
			gap: 0.8rem;
		}

		.dark {
			button {
				background-color: #927768;
				color: #f3ece4;
			}

			input {
				background-color: inherit;
				border-color: #f3ece4;
				color: #f3ece4;
			}
		}
	}

	.wrapper:has(.dark) {
		background-color: #69422b;
		color: #f3ece4;
		border-color: #4b2d1c;
		box-shadow: -6px 6px 0px 0px #4b2d1c;

		transition: all 0.3s;
	}
}
